<section class="card dishList">

  <ul class="list-inline">
    <li class="list-inline-item">Menu Item: {{name}}</li>
    <li class="list-inline-item">Price: ${{price}}</li>
    <li class="list-inline-item small"><a href="/api/menu/dishes/{{id}}">Edit or
        delete dish</a></li>
  </ul>
</section>