<div class="container">
  
  {{#if loggedIn}}
  <div class="header">
    <h1 class="text-center">Manager Dashboard</h1>
  </div>
  <div>
    <h2>All orders:</h2>
    {{!-- ordered div --}}
    <div>

    </div>
    {{!-- preparing div --}}
    {{!-- Out for Delivery div --}}
    {{!-- completed div --}}
    {{!-- cancelled div --}}
      {{#each orders as |order|}}
    <div class="card" id="itemList">
      <p>Customer Phone: {{order.phone}}</p>
      <p>Order Status: {{order.order_status}}</p>
      <a href="/dashboard/{{order.id}}">Order Details</a>
    </div>
      {{/each}}
  </div>
  {{else}}
  <h2>You are not logged in. Click <a href="/api/login">HERE</a> to Login</h2>
  {{/if}}