<div class="text-center text-primary-emphasis">
  <h2>Add Menu Item</h2>
  <div>

    <label for="dishName">Dish Name:</label>
    <br />
    <input type="text" id="dishName" />
  </div>
  <div>
    <label for="dishPrice">Price:</label>
    <br />
    <input type="number" id="dishPrice" />
    <br />
  </div>
  <button id="submit">Submit</button>
</div>
<script src="/js/addDish.js"></script>