<div>
  <section class="card">

    <label for="dishName">Name of new dish:</label>
    <input type="text" id="dishName" />
    <label for="dishPrice">Customer price:</label>
    <input type="number" id="dishPrice" />
    <button id="submit">Submit</button>
  </section>
</div>
<script src="/js/addDish.js"></script>