<div>
  <h2 class="text-center">Edit or Delete Menu Item</h2>
  <div>
    <input type="text" id="dishId" value="{{editDish.id}}" hidden />
    <label for="editDishName">Dish Name:</label>
    <br />
    <input type="text" id="editDishName" value="{{editDish.name}}" />
  </div>
  <div>
    <label for="editDishPrice">Price:</label>
    <br />
    <input type="number" id="editDishPrice" value="{{editDish.price}}" />

    <br />
    <button id="submit">Submit Changes</button>
    <button id="delete">Delete Menu Item</button>
  </div>
</div>
<script src="/js/editDish.js"></script>