<div class="text-center">

  <p class="text-success-emphasis fw-bolder fs-4 lugrasimo-regular">Welcome to the</p>
  <p class="text-success-emphasis fw-bolder fs-4 lugrasimo-regular"> Pizzateca Romana</p>
  <p class="text-success-emphasis fw-bolder fs-4 lugrasimo-regular"> Point of Sale system</p>

</div>