<div class="text-center">

  <p class="text-success-emphasis fw-bolder fs-4">Welcome to the</p>
  <p class="text-success-emphasis fw-bolder fs-4"> Pizzateca Romana</p>
  <p class="text-success-emphasis fw-bolder fs-4"> Point of Sale system</p>

</div>