<div class="container text-center text-primary-emphasis">

  <div class="header mb-4">
    <h1 class="">Login</h1>
  </div>

  <div>
    <form class="login-form">
      <label for="email-login">Username:</label>
      <input class="form-input" type="text" id="email-login" />
      <br />
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
      <br />
      <button type="submit">login</button>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>