<div class="container">
  
  <div class="header">
      <h1>Menu</h1>
  </div>
  
  <div class="menu_container">
      {{#each dishes as |dish|}}
      <section class="card">
      <header>{{dish.name}}</header>
      <p>{{dish.price}}</p>
      <button class="add" data-price="{{dish.price}}" data-name="{{dish.name}}">Add to order</button>
      </section>
      {{/each}}
  </div>

  <div class="disclaim">
    <p>Due to the challenging economic environment, prices are 
        subject to change.  Ingredient substitution may occur.
    </p>
  </div>
</div>
<script src="/js/addToOrder.js"></script>