<div class="container text-center">

  <div>
    <h1 class="place-order lugrasimo-regular">Place an Order</h1>
  </div>

</div>

{{#if cart}}
<div id="checkOut" class="card">
  <form>
    <div class="row card-body">

      <div class="col-8">

        <label for="orderType" class="form-label form-text form-item">Order Type</label>
        <select class="form-select form-select-md mb-3" name="orderType" id="orderType">
          <option value="Pickup" selected>Pickup</option>
          <option value="Delivery">Delivery</option>
        </select>

        <div class="mb-3">
          <label for="phone" class="form-label form-text form-item">Phone Number</label>
          <input type="phone" class="form-control" id="phone" required>
        </div>

        <div class="mb-3">
          <label for="address" class="form-label form-text form-item">Address</label>
          <input type="address" class="form-control" id="address" required>
        </div>

        <div class="mb-3">
          <label for="instructions" class="form-label form-text form-item">Special Instructions</label>
          <textarea class="form-control" id="instructions" rows="3" required></textarea>
        </div>

        <label for="paymentType" class="form-label form-text form-item">Payment Type</label>
        <select class="form-select form-select-md mb-3" name="paymentType" id="paymentType">
          <option value="Cash" selected>Cash</option>
          <option value="Credit">Credit</option>
        </select>
      </div>

      <div class="col-4">
        <div class="menu_container">
          <p class="form-text form-item">Your Cart:</p>
          {{#each cart as |cartItem|}}
          <section class="card orderList mb-3">
            <header>{{cartItem.name}}</header>
            <p>{{cartItem.price}}</p>
          </section>
          {{/each}}
        </div>
        <div class="card orderList mb-3" id="total"></div>

      </div>

    </div>

    <button type="submit" id="checkoutBtn" class="btn btn-primary">Complete Order</button>
  </form>
  <div>
    <button id="cancel-order" class="btn btn-danger">Cancel order</button>
  </div>
</div>

{{else}}
  <div class="card">
    <div class="card-body">
      <h2 class="empty-cart lugrasimo-regular">There is nothing in your cart, please visit the menu page to add items to your cart</h2>
    </div>
  </div>
{{/if}}

<div class="modal fade" id="phoneModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Please enter a valid phone number</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Order Placed Successfully!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" id="successModalClose" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Order Cancelled</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancelModalClose" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="js/modalUtils.js"></script>
<script src="js/cart.js"></script>
</body>
