<div>
    <h4>Update Order</h4>
</div>
<div>
    <form>
        <div>
            <label for="order-type"></label>
            <label for="phone"></label>
            <label for="address"></label>
            <label for="status"></label>
            {{!-- think of a way to update order dishes --}}
            <label for="payment-type"></label>
            <label for="order-total"></label>
        </div>
        <div>
            <button value{{orders.id}}>Submit Changes</button>
        </div>
    </form>
</div>