body {
  background-image: url("../images/bg_1.jpg");
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-size: cover;
  background-position: center;
}

#topBar {
  background-image: url("../images/bg_nav.jpg");
}
#navcss {
  color: rgb(233, 193, 122);
}

.card {
  margin: 5px;
  padding: 3px;
  border: 1px solid black;
  opacity: 90%;
}

button {
  margin: 4px;
}

label {
  font-size: 20px;
}
.centerUpd {
  margin: auto;
}
#status,
#order-type,
#payment-type {
  width: 20%;
}
.itemList {
  width: 30%;
  margin: auto;
}
.dishList {
  width: 60%;
  margin: auto;
  margin-bottom: 5px;
}
.orderList {
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 1204px) {
  .itemList {
    width: 50%;
  }
}
@media screen and (max-width: 776px) {
  .itemList,
  .dishList,
  .orderList {
    width: 70%;
  }
}
/* 
#checkOut {
  padding: 2%;
  background-color: white;
} */

.form-text {
  color: black;
  font-size: 16px;
}

.form-item {
  margin: 10px;
}

.title {
  color: #c91313;
}

.place-order {
  color: black;
}

/* .empty-cart {
  
} */

.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .dashboardContainer {
    background-color: white;
    padding-bottom: 2%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .dashboardHeader {
    text-align: center;
    color: black;
  }

  .update-dropdown {
    margin: auto;
  }