body {
  background-image: url("../images/bg_1.jpg");
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(233, 193, 122);
  background-size: contain;
  background-position: center;
}

.shadow {
  -webkit-text-stroke: 1px grey;
}

#topBar {
  background-image: url("../images/bg_nav.jpg");
}

.card {
  margin: 5px;
  padding: 3px;
  border: 1px solid black;
  opacity: 90%;
}

button {
  margin: 4px;
}

label {
  font-size: 20px;
}
.centerUpd {
  margin: auto;
}
#status,
#order-type {
  width: 20%;
}
.add {
  width: 40%;
  margin: auto;
}
.itemList {
  width: 30%;
  margin: auto;
}
.dishList {
  width: 50%;
  margin: auto;
}
.orderList {
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 1204px) {
  .itemList {
    width: 50%;
  }
}
@media screen and (max-width: 776px) {
  .itemList,
  .dishList,
  .orderList {
    width: 70%;
  }
}
/* 
#checkOut {
  padding: 2%;
  background-color: white;
} */

.form-text{
  color: black;
  font-size: 16px;
}

.form-item {
  margin: 10px;
}

.title {
  color: #C91313;
}

.place-order {
  color: black;
}

/* .empty-cart {
  
} */

.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
  }